In [ ]:
print("hello world")

hello world

In [ ]:
문자 = "안녕하세요"

In [ ]:
print(문자)

안녕하세요

In [ ]:
문자="'"

In [ ]:
print(문자)

'

In [ ]:
print("\"")

"

In [ ]:
print("안녕하세요\b")#\b는 백스페이스

안녕하세요

In [ ]:
print("안녕하\n세요")# \n 은 줄바꿈

안녕하
세요

In [ ]:
print("안녕하\t세요")# \t는 탭

안녕하	세요

In [ ]:
print("안녕하\\세요")# \\ \문자 적어주기

안녕하\세요

In [ ]:
print("\"\'")# \" 는 쌍따옴표 \' 는 따옴표

"'

In [ ]:
print("\\\"(\'.\')\"/")

\"('.')"/

In [ ]:
print("데이터1","데이터2","데이터3")

데이터1 데이터2 데이터3

In [ ]:
print("데이터1","데이터2","데이터3",sep="\n",end="끝")#sep는 기본값으로 " "를 가지고 있어 자도으로 띄어쓰기 됨 ""사이에 원하는 값을 넣으면 출력 가능 end는 맨 마지막 값의 마지막에 원하는 값 출력 가능

데이터1
데이터2
데이터3끝

In [ ]:
전화번호1 = "010"
전화번호2= "5402"
전화번호3 = "8371"
print(전화번호1,전화번호2, 전화번호3 ,sep="-")

010-5402-8371

In [ ]:
이름 = "유현성"

In [ ]:
print(이름)

유현성

In [ ]:
반 = 6

In [ ]:
print(반)

6

In [ ]:
반_데이터타입 = type(반)# type(a) a의 데이터 타입을 파악해줌
print(반_데이터타입)

<class 'int'>

In [ ]:
print(0b10)#0b=이진수

2

In [ ]:
print(0o10)# 0o =8진수

8

In [ ]:
print(0xb)# 0x=16진수

11

In [ ]:
print(3*5)
print(10/5)
print(9/2)#소수점 첫째 자리까지 계산
print(9//2)#//는 몫

15
2.0
4.5
4

In [ ]:
print(2**3)#**는 제곱

8

In [ ]:
print(15%10) #%는 나머지

5

In [ ]:
#문자열 만드는 방법 " " ' ' """ """ ''' ''' AND 문자열 끼리 사칙연산 가능

In [ ]:
A = "1"
B = "3"
print(A+B)

13

In [ ]:
이름 = "유현성"
인사 = "안녕하세요"
인삿말=(인사+"."+" "+"저는"+" "+이름+"입니다\n")
print(인삿말)

안녕하세요. 저는 유현성입니다

In [ ]:
이름길이 = len(이름)#len(a) a의 길이를 출력해줌 (a는 문자열) 이름 길이는 int
print(이름)
print(이름길이)

유현성
3

In [ ]:
print([1,2,3,4,5])#[자료,자료,자료]

[1, 2, 3, 4, 5]

In [ ]:
배열 = [-1,10,2,"이름",[1,2,3,4]]#자료형 구분 없음
print(배열)

[-1, 10, 2, '이름', [1, 2, 3, 4]]

In [ ]:
print(배열[0])
print(배열[4][1])#배열 5의 2번째를 꺼냈다.(이차원 리스트)

-1
2

In [ ]:
print(배열[len(배열)-1])#마지막 값 꺼내기

[1, 2, 3, 4]

In [ ]:
print(배열[-1])#마지막 값 꺼내기

[1, 2, 3, 4]

In [ ]:
print(배열[1:3])#원하는 범위 값 꺼내기 배열[a:b] a 이상 b미만 값 꺼내기

[10, 2]

In [ ]:
배열[:][-1]=[1,2,3]#[:]는 전체를 의미함
print(배열)

[-1, 10, 2, '이름', [1, 2, 3, 4]]

In [ ]:
문제 ="0632208371"
print(len(문제[:-4])*"*"+(문제[-4:]))

******8371